streamlit
streamlit-option-menu
python-dotenv
numpy==1.23.5
pandas
tensorflow==2.13.0
keras
scikit-learn
matplotlib
opencv-python
seaborn
Pillow
google-generativeai
folium
streamlit-folium
fpdf
geopy
gdown

